{
  "src/**/*.+(js|ts|tsx)": ["eslint --fix --ext .ts,.tsx ./src --ignore-path .gitignore"],
  "src/**/*.{js,jsx,ts,tsx,css,scss,md}": [
    "prettier --ignore-path .gitignore --write \"**/*.+(js|ts|tsx)\""
  ]
}
