@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-by-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-select-type-product-bg {
    background-image: url("/button-product-bg-1.png"), url("/button-product-bg-2.png");
    background-position: top left, bottom right;
  }

  .product-card-shadow {
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #222;
    border-radius: 50%;

    pointer-events: auto;

    @apply bg-gray-700;
  }

  .product-detail-table {
    display: table;
    border-color: #ececec;
  }

  .product-detail-table th,
  .product-detail-table td {
    padding: 0.5em;
    border-bottom: 1px solid #ececec;
    font-size: 12px;
  }

  .product-detail-table ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  /* Chrome, Safari, Edge, Opera */
  .input-hide-arrow::-webkit-outer-spin-button,
  .input-hide-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .input-hide-arrow[type="number"] {
    -moz-appearance: textfield;
  }

  .pagination-item {
    @apply relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-300;
  }

  .pagination-item.active {
    @apply bg-primary font-medium text-white;
  }
}
