@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-by-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-select-type-product-bg {
    background-image: url("/button-product-bg-1.png"), url("/button-product-bg-2.png");
    background-position: top left, bottom right;
  }

  .product-card-shadow {
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
